        /* css variables */
        
         :root {
            /* color palette */
            /* use of variables: var(--color_tooltip_1); */
            /* users can simply change the colors with the chrome extension: user CSS
            https://chrome.google.com/webstore/detail/user-css/okpjlejfhacmgjkmknjhadmkdbcldfcb
            */
            /* background color */
            --b_color_body: #24292E;
            --b_color_code: #1B1D23;
            --b_color_grid_header: #181A1F;
            --b_color_container: #2d323b;
            --b_color_button: dodgerblue;
            /* front color */
            --f_color_body: #c4cce0;
            --f_color_code: #78C379;
            --f_color_link: white;
            --f_color_05: yellow;
            --f_color_06: dark-white;
            --f_color_07: black;
            /* border color*/
            --brd_color_01: #000;
            --brd_color_02: #eaecef;
        }
        /*region: media dependent on screen size */
        /* less then 590px*/
        
        @media (max-width: 590px) {
            .media_header_grid_01 {
                display: grid;
                grid-template-columns: 1fr;
            }
            .media_header_grid_02 {
                display: grid;
                grid-template-columns: 1fr;
            }
            .media_right {
                text-align: left;
            }
            .media_portrait_visible {
                visibility: visible;
            }
        }
        /* larger then 590px */
        
        @media (min-width: 590px) {
            .media_header_grid_01 {
                display: grid;
                grid-template-columns: 1fr 3fr;
            }
            .media_header_grid_02 {
                display: grid;
                grid-template-columns: 4fr 9fr 3fr;
            }
            .media_right {
                text-align: right;
            }
            .media_portrait_visible {
                visibility: hidden;
            }
        }
        /* region: basics */
        
        html {
            font-family: 'Roboto', sans-serif;
            max-width: 1200px;
            min-width: 300px;
            width: 100%;
            /*margin auto means centered horizontally*/
            margin: auto;
            padding-right: 0px;
            overflow-y: auto;
            overflow-x: hidden;
            word-wrap: break-word;
            overflow-wrap: break-word;
            box-sizing: border-box;
            background-color: var(--b_color_body);
            line-height: 1.5;
            color: var(--f_color_body);
            /*This is the base font-size. All other font-size 
  use rem units that are
  relative to this font-size.*/
            /*width greater than 600 px*/
            font-size: 34px;
            -webkit-font-smoothing: antialiased;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
        }
        
        body {
            max-width: 1200px;
            margin: 0;
            padding: 0;
            font-size: 60%;
            line-height: 1.5;
            background-color: var(--b_color_body);
            color: var(--f_color_body);
        }
        /*CSS Reset*/
        
        div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
        a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, 
        q, s, samp, small, strike, strong, sub,
        sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
        legend, table, caption, tbody, tfoot, thead, tr, th,
        td {
            margin: 0;
            padding: 0;
            border: 0;
            border-style: none;
            outline: 0;
            vertical-align: baseline;
            background: transparent;
        }
        
        /* no color */
        a:link,
        a:visited,
        a:hover,
        a:active {
            color: inherit;
            text-decoration: none;
        }
        
        h1,
        h2,
        h3,
        h4 {
            margin-bottom: 16px;
        }
        
        p {
            line-height: 1.5;
        }
        
        pre {
            white-space: pre-wrap;
        }
        
        code {
            padding: .1em .4em;
            margin: 0;
            font-size: 85%;
            background-color: var(--b_color_code);
            color: var(--f_color_code);
            border-radius: 3px;
            font-family: Consolas, Liberation Mono, Courier, monospace;
        }

        pre > code {
            font-family: Consolas, Liberation Mono, Courier, monospace;
        }

        input[type=text] {
            background-color: var(--b_color_code);
            color: var(--f_color_code);
            width: 600px;
            border: 1px;
            border-radius: 3px;
            padding: 2px;
            font-size: 100%;
            font-family: Consolas, Liberation Mono, Courier, monospace;
        }
        
        input.read_only {
            background-color: var(--f_color_link);
            color: var(--f_color_body);
        }
        
        textarea {
            background-color: var(--b_color_code);
            color: var(--f_color_code);
            width: 900px;
            height: 120px;
            border: 1px;
            border-radius: 3px;
            padding: 18px;
            font-size: 100%;
            font-family: Consolas, Liberation Mono, Courier, monospace;
        }

        .full_width {
            width: 100%;
            box-sizing: border-box;
       }
       .height_100px {
           height: 100px;
       }
     
        /* endregion: basics */
        /* region: css classes */
        
        .container0_content_grid_0 {
            width: 100%;
            display: grid;
            border-radius: 5px;
            border: 0.2px solid var(--brd_color_01);
        }
        
        .grid0_c {
            /* grid0 cell */
            border: 0.2px solid var(--brd_color_01);
            text-align: center;
        }
        
        .container_0 {
            display: grid;
            background-color: var(--b_color_container);
            border: 1px solid var(--b_color_grid_header);
            border-radius: 5px;
            margin: 2%;
        }
        
        .container0_content_not_grid {
            padding: 20px;
            overflow: hidden;
        }
        
        .h3y {
            /*h3 yellow ?/
    /*The .class_name is repeated in css to take different properties.*/
            background: transparent;
        }
        
        .h2u {
            /*h2 underline */
            /*The .class_name is repeated in css to take different properties.*/
            background: transparent;
            margin-top: 20px;
        }
        /* endregion: css classes */
        /* region: colors and attributes */
        
        .break-all {
            word-break: break-all;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
        
        .word-wrap {
            word-wrap: break-word;
            overflow-wrap: break-all;
        }
        
        .bold {
            font-weight: bold;
        }

        /* links are mostly white */
        .c_white,
        .c_link_1,
        a:link.c_link_1,
        a:visited.c_link_1,
        a:hover.c_link_1,
        a:active.c_link_1
        {
            color: var(--f_color_link);
        }
        
        .pointer
        {
        cursor: pointer;
        }
        
        /* dark_white */
        .h2u {
            color: var(--f_color_06);
        }
        
        .c_black {
            color: var(--f_color_07);
        }
        
        .c_yellow,
        .h3y,
        .link_2,
        a:link.link_2,
        a:visited.link_2,
        a:hover.link_2,
        a:active.link_2
        {
            color: var(--f_color_05);
        }

        .middle {
            display: grid;
            align-items: center;
        }
        
        .top {
            display: grid;
            align-items: top;
        }
        
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
        .left {
            text-align: left;
        }

        .right {
            text-align: right;
        }
        
        .under_line,
        .h2u {
            border-bottom: 1px solid var(--brd_color_02);
        }
        
        .big {
            font-size: 140%;
        }
        
        .small {
            font-size: 80%;
        }
        /* endregion: colors and attributes */
        
        .button {
            background: var(--b_color_button);
            border-radius: 6px;
            font-size: 120%;
        }